/*document-wide styles*/

* { box-sizing: border-box;}

html {
	min-width: 100%;
	min-height: 100%;
}

body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	margin: 0;
	background-color: #D8D8D8;
	font-family: Helvetica, Arial, sans-serif;
}

.anchor {
	padding-top: 50px;
	padding-bottom: 50px;
}

h1,
h2,
h3 {
	text-align: center;
	padding-bottom: 20px
}

/*navigation bar*/

.nav {
	padding-right: 20px !important;
}

#burger {
	margin-right: 20px !important;
}

.brand {
	text-transform: uppercase;
}

.brand a {
	color: white;
	padding-left: 20px !important;
}

/*contact*/

.header-contact {
	text-align: center;
}

#contact {
	display: inline-block;
	width: 100%;
	height: 100%;
	color: black;
}

.contact-info {
	padding-left: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.contact-form {
	padding-right: 20px;
}

.contact-info {
	font-size: 21px;
}

.contact-info a {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	color: black;
	border: solid 3px;
	margin-top: 10px;
}

#visible-preface {
	text-align: center;
}

#visible-comment {
	text-align: center;
}

#visible-thanks {
	text-align: center;
}

/*learn more*/

.panel-body {
	font-size: 1em;
	color: #000;
}

.panel {
	color: #000099;
}

#faq {
	width: 80%;
	margin-top: 60px;
}

#learn-more {
  background-image: url("../img/contact1.gif");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
	min-height: 500px;
	color: white;
}

#welcome {
  background-image: url("../img/jumbotron.png");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
	min-height: 600px;
	color: white;
}

#snow_logo {
	height: 20%;
	width: 30%;
	margin: 18% 35%;
}

.modal-button {
	margin-bottom: 30px;
}

#modalembed {
	height: 500px;
	width: 100%;
	padding: 10px;
}

.form-control {
	max-width: 100%;
}

.submit-btn {
	margin-top: 14px;
}

.learn-heading {
	display: block;
	text-align: center;
}

/*about*/

#about {
  background-image: url("../img/contact1.gif");
  background-size: cover;
  width: 100%;
	height: 100%;
	color: white;
}

.about-center {
	text-align: center;
}

/*portfolio*/

.portfolio-header {
	text-align: center;
}

.folio {
	padding: 10px;
}

.work-img {
	display: block;
	margin: auto;
	max-width: 350px;
	position: relative;
}

.info{
	position: absolute;
	top: 15%;
	left:20%;
	color: #fff;
	font-family: Helvetica;
	text-transform: uppercase;
	font-weight:700;
	letter-spacing: 0.5em;
	line-height: 1.6;
	display:none;
}

.proj-title {
	font-weight:100;
}

/*google maps api */

#map {
	height: 300px;
	width: 100%;
}

/*footer*/

.footer {
	width: 80%;
}

.copyright {
	margin: 10px;
	display: inline-block;
}

.twitter-follow-button {
	float: right;
	margin: 10px;
	display: inline-block;
}
